@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}

/* General Reset */
html{height:100%;}
body{
	margin:0;
	color:#333;
	font:12px/16px 'RobotoRegular', sans-serif;
	background:#fff;
	min-width:320px;
	position:relative;
	min-height:100%;
}
img{border-style:none;}
input,
textarea,
select{
	color:#000;
	vertical-align:middle;
	font:100% Verdana, Geneva, sans-serif;
/*	-webkit-appearance: none;*/
}
/*.checkout input{
	-webkit-appearance: input;
}
.checkout textarea{
	-webkit-appearance: textarea;
}
.checkout select{
	-webkit-appearance: select;
}*/
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote, q{quotes: none;}
q:before,
q:after {content: '';}
a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
header, nav, section, article, aside, footer{display:block;}
/* General settings */
.container{
	max-width:1032px;
/*	width:1032px !important;*/
	padding: 0;
	margin:0 auto;
}
.container-in{padding: 0 43px 0 49px;}
.container-in:after{
	clear:both;
	content:'';
	display:block;
}
.container-in .container{
	box-shadow: none !important;
	width:auto !important;
}
.container:after{
	clear:both;
	content:'';
	display:block;
}
.btn-cut{
	display:inline-block;
	color:#e8525f;
	font:14px/18px 'RobotoRegular', sans-serif;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #e8525f;
	padding: 3px 6px 3px 29px;
	background:url(../images/ico-05.png) no-repeat 5px 4px;
}
.btn-cut:hover{
	color:#fff;
	background:#e8525f url(../images/ico-05-hover.png) no-repeat 5px 4px;
	text-decoration:none;
}
.overlay .main-hold{
	position:relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.overlay .main-hold:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.4);
	z-index: 10;
}

/*main*/
#header{
	background:#000;
	padding: 13px 0 14px;
}
#header:after{
	clear:both;
	content:'';
	display:block;
}
#header .main-menu{
	float:left;
	font:14px/18px 'RobotoRegular', sans-serif;
}
#header .container{
	position:relative;
}
#header .main-menu ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
#header .main-menu ul li{
	float:left;
	margin-right:34px;
}
#header .main-menu ul li a{
	color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#header .main-menu ul li a:hover, #header .main-menu ul li.active a{
	text-decoration:none;
	color:#e8525f;
}
#header .right-hold{
	float:right;
}
#header .right-hold .reg-aft-form{
	position:absolute;
	right:0;
	top: 32px;
	background:#fff;
	width:300px;
	padding: 25px 30px 44px;
	z-index:101;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);
	display:none;
}
#header .right-hold .reg-aft-form .ttl{
	text-transform:uppercase;
	color:#000;
	font:18px/24px 'RobotoRegular', sans-serif;
	margin-bottom:15px;
}
#header .right-hold .reg-aft-form .row{
	overflow:hidden;
	margin:0 0 15px 0;
}
#header .right-hold .reg-aft-form .row .txt{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	background:#fff;
	border:1px solid #686a71;
	padding:10px 15px;
	color:#7b7b7b;
	font:14px/20px 'RobotoRegular', sans-serif;
	margin-bottom:11px;
}
#header .right-hold .reg-aft-form .row .r-pass{
	float:left;
	margin-right:40px;
}
#header .right-hold .reg-aft-form .row .r-pass .styledCheckbox{
	float:left;
	margin-right:10px;
}
#header .right-hold .reg-aft-form .row .r-pass label{
	font:12px/13px 'RobotoRegular', sans-serif;
}
#header .right-hold .reg-aft-form .row a{
	font:12px/13px 'RobotoRegular', sans-serif;
}
.btn-02{
	color:#e8525f;
	font:14px/18px 'RobotoRegular', sans-serif;
	border:1px solid #e8525f;
	background:#fff;
	cursor:pointer;
	padding:10px 13px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-transform:uppercase;
}
.btn-02:hover{
	color:#fff;
	background:#e8525f;
	text-decoration:none;
}
#header .right-hold .reg-aft-form .form-reg-in{
	overflow:hidden;
	position:relative;
	margin-bottom:14px;
}
#header .right-hold .reg-aft-form .form-reg-in:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:52px;
	height:1px;
	background:#e8525f;
}
#header .right-hold .reg-aft-form .botom-inf strong{
	color:#000;
	margin-bottom:9px;
	font:15px/16px 'RobotoMedium', sans-serif;
	display:block;
}
#header .right-hold .reg-aft-form .botom-inf p{
	margin:0 0 26px;
	color:#282828;
	font:12px/20px 'RobotoRegular', sans-serif;
}










#header .right-hold > ul{
	margin:0;
	padding:0;
	list-style:none;
	font:14px/16px 'RobotoRegular', sans-serif;
	overflow:hidden;
	float:right;
}
#header .right-hold > ul > li{
	float:left;
	padding-right:5px;
	margin-right:5px;
}
#header .right-hold > ul > li:first-child{
	border-right:1px solid #fff;
}
#header .right-hold >ul > li > a{
	color:#fff;
}
#header .right-hold .search-box{
	overflow:hidden;
	float:right;
	margin-left: 12px;
}
#header .right-hold .search-box .ico-s{
	cursor:pointer;
	background:url(../images/ico-01.png) no-repeat;
	width:16px;
	height:20px;
	display:block;
	margin-top:2px;
	position:relative;
	z-index:99;
}
#header .right-hold .search-box .ico-s.active{
	display:none;
}
#header .right-hold .user{
	float:right;
	position:relative;
	margin-top:3px;
}
#header .right-hold .user .name{
	cursor:pointer;
	color:#e8525f;
	position:relative;
	font:14px/16px 'RobotoRegular', sans-serif;
	padding:2px 17px 2px 26px;
	background:url(../images/ico-08.png) no-repeat 0 0;
}
#header .right-hold .user .name:after{
	content:'';
	border: 6px solid transparent;	border-top: 6px solid #e8525f;
	position:absolute;
	right:0;
	top:8px;
}
#header .right-hold .user .drop-list{
	position:absolute;
	left:0;
	width:155px;
	top:100%;
	margin-top:14px;
	z-index:100;
	display:none;
}
#header .right-hold .user .drop-list ul{
	margin:0;
	padding:0;
	list-style:none;
	font:12px/16px 'RobotoRegular', sans-serif;
}
#header .right-hold .user .drop-list ul li{
	border-top:1px solid #e9e9e9;
}
#header .right-hold .user .drop-list ul li:first-child{
	border-top:none;
}
#header .right-hold .user .drop-list ul li a{
	display:block;
	background:rgba(0,0,0, 0.6);
	color:#fff;
	padding:5px 5px 5px 28px;
	overflow:hidden;
	position:relative;
}
#header .right-hold .user .drop-list ul li a:hover{
	background:rgba(0,0,0, 0.9);
	text-decoration:none;
}
#header .right-hold .user .drop-list ul li.prof a div{
	float:left;
}
#header .right-hold .user .drop-list ul li.prof a span{
	float:right;
	color:#b6b6b6;
	font:10px/16px 'RobotoRegular', sans-serif;
}
#header .right-hold .user .drop-list ul li.prof a:after{
	content:'';
	background:url(../images/ico-09.png) no-repeat;
	width:15px;
	height:16px;
	left:4px;
	top:3px;
	position:absolute;
}
#header .right-hold .user .drop-list ul li.order a:after{
	content:'';
	background:url(../images/ico-10.png) no-repeat;
	width:10px;
	height:14px;
	left:7px;
	top:5px;
	position:absolute;
}
#header .right-hold .user .drop-list ul li.exit a:after{
	content:'';
	background:url(../images/ico-11.png) no-repeat;
	width:16px;
	height:16px;
	left:4px;
	top:3px;
	position:absolute;
}
.search-box .search-hold{
	background:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	width:125px;
	padding: 0px 6px;
}
.search-box .search-hold .txt{
	border:none;
	width:98px;
}
.search-box .search-hold .btn-s{
	text-indent:-9999px;
	background:url(../images/ico-12.png) no-repeat;
	width:14px;
	height:16px;
	cursor:pointer;
	border:none;
	float:right;
}
.search-box .drop-s{
	opacity:0;
	width:0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	 margin-top: -23px;
}
.search-box.active .drop-s{
	opacity:1;
	width:150px;
	margin-top:0;
}













.main-hold{
	overflow:hidden;
}
.main-hold .container{
	-webkit-box-shadow: 0px 0px 11px 0px rgba(229,229,229,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(229,229,229,1);
	box-shadow: 0px 0px 11px 0px rgba(229,229,229,1);
	padding-bottom: 128px;
}
.top-inf .logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	width:256px;
	height:58px;
}
.top-inf .logo a{
	display:block;
	height:100%;
}
.main-hold .top-inf{
	padding:8px 0;
	border-bottom:4px solid #e8525f;
}
.main-hold .top-inf:after{
	clear:both;
	content:'';
	display:block;
}
.main-hold .top-inf .right-inf{
	float:right;
}
.main-hold .top-inf .right-inf:after{
	clear:both;
	content:'';
	display:block;
}
.main-hold .top-inf .right-inf .card{
	float:right;
	margin-left: 24px;
	position:relative;
}
.main-hold .top-inf .right-inf .card .cut-drop{
	position:absolute;
	right:11px;
	top:100%;
	width:335px;
	z-index:99;
	background:#fff;
	margin-top:17px;
	border-bottom:2px solid #e8525f;
	display:none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.61);

}
.main-hold .top-inf .right-inf .card .cut-drop:after{
	content:'';
	border: 9px solid transparent;	border-bottom: 10px solid #e8525f;
	position:absolute;
	right:9px;
	top:-18px;
}
.main-hold .top-inf .right-inf .card .cut-drop .ttl{
	background:#e8525f;
	padding:6px 13px;
	text-transform:uppercase;
	color:#fff;
	font:18px/20px 'RobotoRegular', sans-serif;
}
.main-hold .top-inf .right-inf .card .cut-drop ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.main-hold .top-inf .right-inf .card .cut-drop ul li{
	border-bottom:2px solid #e7e7e7;
}
.main-hold .top-inf .right-inf .card .cut-drop ul li{
	display:block;
	overflow:hidden;
	padding: 9px 29px 9px 12px;
	position:relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.main-hold .top-inf .right-inf .card .cut-drop ul li:hover{
	background:#f0f0f0;
}
.main-hold .top-inf .right-inf .card .cut-drop ul li .name{
	float:left;
	width:190px;
	color:#686a71;
	font:12px/16px 'RobotoRegular', sans-serif;
}
.main-hold .top-inf .right-inf .card .cut-drop ul li .price{
	float:right;
	color:#e8525f;
	font-family:'RobotoRegular', sans-serif;
	font-size:12px;
	line-height:14px;
	margin-top: 1px;
	position:absolute;
	margin-top: -4px;
	right: 28px;
	top: 44%;
}
.main-hold .top-inf .right-inf .card .cut-drop ul li .close{
	position:absolute;
	right:12px;
	top:50%;
	margin-top:-6px;
	background:url(../images/ico-06.png) no-repeat;
	width:10px;
	height:10px;
	opacity: 1.0;
}
.main-hold .top-inf .right-inf .card .cut-drop .all-price{
	overflow:hidden;
	text-align:right;
	color:#686a71;
	font:12px/16px 'RobotoRegular', sans-serif;
	padding:8px 14px;
}
.main-hold .top-inf .right-inf .card .cut-drop .btn-all-cut{
	padding:5px 14px;
	overflow:hidden;
	text-align:center;
}
.main-hold .top-inf .right-inf .card .cut-drop .btn-all-cut a{
	display:inline-block;
	color:#e8525f;
	font:12px/16px 'RobotoRegular', sans-serif;
	padding:2px 0 2px 25px;
	background:url(../images/ico-07.png) no-repeat 0 3px;
}



.main-hold .top-inf .right-inf .card .ico-card{
	display:block;
	background:url(../images/ico-02.png) no-repeat;
	width:27px;
	height:26px;
	cursor:pointer;
	margin-right: 16px;
	margin-top: 19px;
	position:relative;

}
.main-hold .top-inf .right-inf .card .ico-card span{display:none;}
.main-hold .top-inf .right-inf .card .ico-card.add span{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background:#e8525f;
	width:18px;
	height:18px;
	position:absolute;
	right:-12px;
	top:-9px;
	display:block;
	text-align:center;
	font:12px/18px 'RobotoRegular', sans-serif;
	vertical-align:middle;
	color:#fff;
	overflow: hidden;
}
.main-hold .top-inf .right-inf .tel-holder{
	float:right;
	margin-top: 3px;
	margin-left: 55px;
}
.main-hold .top-inf .right-inf .tel-holder ul{
	margin:0;
	padding:0 0 0 28px;
	list-style:none;
	color:#000;
	font:18px/24px 'RobotoRegular', sans-serif;
	background:url(../images/ico-03.png) no-repeat 0px 13px;
}
.main-hold .top-inf .right-inf .slogan{
	font: 25px/28px Arial, Helvetica, sans-serif;
	color:#000;
	float:right;
	margin-top: 10px;
}
.main-hold .top-inf .right-inf .slogan .ttl-01, .main-hold .top-inf .tel-holder .ttl-01, #footer .soc-icon .ttl-01{
	display: none;
}
.main-hold .slider{
	height:300px;
	border-left:2px solid #dddddd;
	border-right:2px solid #dddddd;
	border-top:2px solid #dddddd;
	background:#aba264;
	margin-bottom:26px;
}
.ttl-01{
	color:#686a71;
	text-transform:uppercase;
	font:30px/23px 'RobotoRegular', sans-serif;
	margin:0 0 20px;
	position:relative;
	padding-left:11px;
}
.ttl-01:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	background:#e8525f;
	width:3px;
	height:23px;
}
.ttl-02{
	color:#686a71;
	text-transform:uppercase;
	font:18px/18px 'RobotoRegular', sans-serif;
	margin:0 0 17px;
	position:relative;
	padding-left:7px;
}
.ttl-02:after{
	content:'';
	position:absolute;
	left:0;
	top:2px;
	background:#e8525f;
	width:3px;
	height: 16px;
}
.produkt-holder:after{
	clear:both;
	content:'';
	display:block;
}
.produkt-holder{
	margin-bottom:32px;
}
.produkt-holder ul{
	margin: 0 -70px 0 0;
	padding:0;
	list-style:none;
}
.produkt-holder ul:after{
	clear:both;
	content:'';
	display:block;
}
.produkt-holder ul li{
	float:left;
	margin-right:75px;
	margin-bottom:42px;
	width:256px;
	height:240px;
	-webkit-box-shadow: 0px 1px 8px 1px rgba(200,200,200,1);
	-moz-box-shadow: 0px 1px 8px 1px rgba(200,200,200,1);
	box-shadow: 0px 1px 8px 1px rgba(200,200,200,1);
	position:relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.produkt-holder ul li.ex:after{
	content:'';
	background:url(../images/ico-04.png) no-repeat;
	width:48px;
	height:41px;
	position:absolute;
	left:-11px;
	top:-2px;
}
.holder-sidebar .produkt-holder ul li.ex:after{
	content:'';
	background:url(../images/ico-21.png) no-repeat;
	width:35px;
	height:30px;
	position:absolute;
	left:-11px;
	top:-2px;
}
.produkt-holder ul li:hover{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1.1);
}
.produkt-holder ul li a{
/*	display:block;*/
}
.produkt-holder ul li a span{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	color:#686a71;
	font:18px/24px 'RobotoRegular', sans-serif;
	padding:5px;
	border-bottom:3px solid #e8525f;
/*	background:rgba(238,238,238, 0.5);*/
	background:rgb(238,238,238);
}
.top-produkt:after{
	clear:both;
	content:'';
	display:block;
}
.top-produkt{
	margin-bottom:22px;
}
.top-produkt ul{
	margin: 0 -25px 35px 0;
	padding:0;
	list-style:none;
}
.top-produkt ul:after{
	clear:both;
	content:'';
	display:block;
}
.top-produkt ul li{
	float:left;
	margin-right:20px;
	margin-bottom:24px;
	width: 220px;
    height: 240px;
	-webkit-box-shadow: 0px 1px 8px 1px rgba(200,200,200,1);
	-moz-box-shadow: 0px 1px 8px 1px rgba(200,200,200,1);
	box-shadow: 0px 1px 8px 1px rgba(200,200,200,1);
	position:relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.top-produkt ul li:nth-child(5){
	clear:both;
}
.top-produkt.top-produkt-more ul li:nth-child(5){
	clear:none;
}
.top-produkt.top-produkt-more ul li:nth-child(4){
	clear:both;
}
.top-produkt.top-produkt-more ul li:nth-child(7){
	clear:both;
}
.top-produkt.top-produkt-more ul li:nth-child(10){
	clear:both;
}
.top-produkt ul li.hover:hover{
/*	margin-bottom:-50px;*/
	padding-bottom:50px;
	margin-bottom:-30px;
	position:relative;
	z-index:99;
	background:#fff;
	height:295px;
	box-sizing: inherit;
}
.top-produkt ul li:hover {
	display:block;
}
.top-produkt ul li.ex:after{
	content:'';
	background:url(../images/ico-04.png) no-repeat;
	width:48px;
	height:41px;
	position:absolute;
	left:-11px;
	top:-2px;
}
.top-produkt ul li a{
	display:block;
}
.top-produkt ul li .bottom-inf{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	border-bottom: 3px solid #e8525f;
	overflow:hidden;
}
.top-produkt ul li .bottom-inf .desc{
	background:#fff;
	color:#686a71;
	font: 12px/16px "RobotoRegular",sans-serif;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display:none;
}

.top-produkt ul li:hover .bottom-inf .desc{
	display:block;
}
.top-produkt ul li .bottom-inf span{
	display:block;
	background:rgba(238,238,238, 0.8);
/*	background:rgb(238,238,238);*/
	padding: 6px 12px;
	color: #686a71;
	font: 14px/18px "RobotoRegular",sans-serif;
}
.top-produkt ul li .bottom-inf > div{
	overflow:hidden;
	padding: 5px 11px;
	background: #ffffff;
}
.top-produkt ul li .bottom-inf div .price{
	float:left;
	color:#686a71;
	font: 14px/24px "RobotoRegular",sans-serif;
}
.top-produkt ul li .bottom-inf div .btn-cut{
	float:right;
}
.bottom-inf-main{
	overflow:hidden;
	padding-bottom:22px;
}
.bottom-inf-main .about{
	float:left;
	width:540px;
	margin-right:100px;
}
.bottom-inf-main .about .box{
	overflow:hidden;
	background:#e8e8e8;
	padding:39px 23px 55px 14px;
}
.bottom-inf-main .about .box .img{
	float:left;
	margin-right:17px;
}
.bottom-inf-main .about .box .txt{
	overflow:hidden;
	font: 14px/17px Arial, Helvetica, sans-serif;
	color:#000;
}
.bottom-inf-main .last-post{
	overflow:hidden;
}
.bottom-inf-main .last-post ul{
	margin:0;
	padding:0;
	list-style:none;
}
.bottom-inf-main .last-post ul li{
	overflow:hidden;
	margin-bottom:14px;
}
.bottom-inf-main .last-post ul li .img{
	float:left;
	width:67px;
	padding-right:8px;
	margin-right:5px;
	border-right:2px solid #e8525f;
}
.bottom-inf-main .last-post ul li .img img{
	vertical-align:top;
}
.bottom-inf-main .last-post ul li .txt{
	overflow:hidden;
}
.bottom-inf-main .last-post ul li .txt strong{
	display:block;
	color:#000;
	font: 14px/18px "RobotoMedium",sans-serif;
}
.bottom-inf-main .last-post ul li .txt span{
	display:block;
	color:#686a71;
	font: 12px/16px "RobotoRegular",sans-serif;
}
.bottom-inf-main .last-post ul li a:hover .txt span{
	color:#000;
}
.bottom-inf-main .last-post ul li a:hover{
	text-decoration:none;
}
#footer{
	background:#000;
	padding:27px 0;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
#footer .logo-holder{
	float:left;
}
#footer .logo-holder .logo{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo-footer.png) no-repeat;
	width:175px;
	height:30px;
	margin-bottom: 4px;
}
#footer .logo-holder .logo a{
	display:block;
	height:100%;
}
#footer .logo-holder .copy{
	color:#6e7077;
	font: 10px/12px Arial, Helvetica, sans-serif;
}
#footer .soc-icon{
	float:left;
    margin-left: 21px;
    margin-top: 15px;
}

#footer .soc-icon ul{
	margin:0;
	padding:0;
	list-style:none;
}
#footer .soc-icon ul li{
	float:left;
	margin-right:11px;
}
#footer .soc-icon ul li a{
	text-indent:-9999px;
	display:block;
	background:url(../images/.gif) no-repeat;
	width:22px;
	height:22px;
	background:url(../images/soc-icon.png) no-repeat;
}
#footer .soc-icon ul li.fc a{
	background-position:0 0;
}
#footer .soc-icon ul li.in a{
	background-position:-33px 0;
}
#footer .soc-icon ul li.ins a{
	background-position:-96px 0;
}
#footer .soc-icon ul li.fc a:hover{
	background-position:0 -23px;
}
#footer .soc-icon ul li.in a:hover{
	background-position:-33px -23px;
}
#footer .soc-icon ul li.ins a:hover{
	background-position:-96px -23px;
}
#footer .menu-footer{
	float:left;
	margin-left: 14px;
	margin-top: 18px;
}
#footer .menu-footer ul{
	margin:0;
	padding:0;
	list-style:none;
	font: 14px/19px "RobotoRegular",sans-serif;
}
#footer .menu-footer ul li{
	float:left;
	margin-right:13px;
}
#footer .menu-footer ul li a{
	color:#686a71;
	border-left:2px solid #e8525f;
	padding-left:4px;
	display:inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#footer .menu-footer ul li a:hover{
	text-decoration:none;
	color:#d0d0d0;
}
#footer .dev{
	float:right;
	margin-top:20px;
}
#footer .dev a{
	color:#686a71;
	font: 12px/16px "RobotoRegular",sans-serif;
}








/*категории*/


.main-hold .baner{
	height:300px;
	margin:5px 0 0;
}
.main-hold .baner-02{
	min-height:222px;
	margin:5px 0 0;
}
.holder-sidebar:after{
	clear:both;
	content:'';
	display:block;
}
.holder-sidebar .sidebar{
	width:200px;
	margin-right:10px;
	float:left;
	margin-top:6px;
}
.holder-sidebar .sidebar .ttl{
	background:#e8525f;
	color:#fff;
	text-transform:uppercase;
	font: 18px/24px "RobotoRegular",sans-serif;
	padding: 3px 7px;
}
.holder-sidebar .sidebar ul{
	margin:0;
	padding:0;
	list-style:none;
	font: 14px/18px "RobotoRegular",sans-serif;
}
.holder-sidebar .sidebar ul li{
	position:relative;
	padding-bottom:1px;
}
.holder-sidebar .sidebar ul li:first-child:after{
	background:none;
}
.holder-sidebar .sidebar ul.items-filter li:after{
	background:none;
}
.holder-sidebar .sidebar ul li:first-child a{border-top:none;}
.holder-sidebar .sidebar ul li:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:0;
	background:url(../images/bg-line.jpg) no-repeat;
	width:196px;
	height:1px;
}
.holder-sidebar .sidebar ul li a{
	display:block;
	padding: 8px 12px;
	color:#686a71;
	background:#e8e8e8;
	border-top:1px solid #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.holder-sidebar .sidebar ul li a:hover{
	color:#e8525f;
	text-decoration:none;
	padding: 8px 5px 8px 24px;
	background:#e8e8e8 url(../images/ico-13.png) no-repeat 14px 12px;
}
.holder-sidebar .sidebar ul li.active a{
	color:#e8525f;
	text-decoration:none;
	padding: 8px 5px 8px 24px;
	background:#e8e8e8 url(../images/ico-13.png) no-repeat 14px 12px;
}

.mfilter-button{
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}
.holder-sidebar .sidebar ul li .mfilter-button a{
	display:inline-block;
    padding: 0 8px;
    color:#ffffff;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    background: #20AFCA;
    direction:ltr !important;
    box-shadow: 1px 1px 1px #ffffff;
}

.holder-sidebar .sidebar ul li .filter{
	background:#f7f7f7;
}
.holder-sidebar .sidebar ul li .filter .ttl-in{
	text-align:center;
	color:#686a71;
	font: 12px/16px "RobotoRegular",sans-serif;
	padding:5px;
	margin-bottom:10px;
}
.holder-sidebar .sidebar ul li .filter .box-in{
	overflow:hidden;
}
.holder-sidebar .sidebar ul li .filter .box-in .name{
	background:#f0f0f0;
	font: 14px/18px "RobotoRegular",sans-serif;
	padding:5px 10px;
	color:#686a71;
	margin-bottom:10px;
}
.holder-sidebar .sidebar ul li .filter .box-in .name.color-01{
	color:#e8525f;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in{
	padding:5px 10px;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div{
/*	overflow:hidden;*/
	margin-bottom:10px;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div.diametr{
	text-align:center;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div.diametr div{
	width:49%;
	display:inline-block;
	vertical-align:top;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div.diametr div span{
	color:#686a71;
	font: 11px/18px "RobotoRegular",sans-serif;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div.diametr div .txt{
	background:#f7f7f7 ;
	border: 1px solid #ebebeb;
	font: 12px/16px "RobotoRegular",sans-serif;
	width: 32px;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div#nonlinear{
	overflow:visible;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div .styledRadio{
	float:left;
	margin-right:8px;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div .styledCheckbox{
	float:left;
	margin-right:8px;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div .styledCheckbox.disabled{
	opacity: 0.5;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div .styledRadio.disabled{
	opacity: 0.5;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in > div label{
	overflow:hidden;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in .price-id-hold{
	overflow:hidden;
	margin-bottom:20px;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in .price-id-hold > div{
	font: 12px/16px "RobotoRegular",sans-serif;
	background:#f7f7f7;
	border:1px solid #ebebeb;
	width:60px;
	text-align:center;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in .price-id-hold #skip-value-lower{
	float:left;
}
.holder-sidebar .sidebar ul li .filter .box-in .hold-in .price-id-hold #skip-value-upper{
	float:right;
}










.holder-sidebar .right-hold .produkt-holder ul li{
	width:190px;
	height:188px;
	margin-bottom: 40px;
	margin-right: 59px;
}
.holder-sidebar .right-hold{
	overflow:hidden;
	padding-left:30px;
}
.holder-sidebar .right-hold .produkt-holder ul li a span{
	font: 14px/18px "RobotoRegular",sans-serif;
}
.breadcrumbs{
	margin:6px 0 6px;
	padding:0;
	list-style:none;
	overflow:hidden;
	font: 10px/16px "RobotoRegular",sans-serif;
}
.breadcrumbs li{
	float:left;
	margin-left:2px;
	padding-left:8px;
	background:url(../images/ico-15.png) no-repeat 1px 4px;
}
.breadcrumbs li:first-child{
	background:none;
	padding-left:0;
	margin-left:0;
}
.breadcrumbs li:first-child a{
	text-indent:-9999px;
	background:url(../images/ico-14.png) no-repeat;
	width:11px;
	height:8px;
	display:inline-block;
	margin-top:3px;
}
.breadcrumbs li a{
	color:#686a71;
}
.breadcrumbs li.active a{
	color:#e8525f;
}



/*продукция*/


.holder-sidebar .right-hold .top-produkt ul li{
	margin-right: 16px;
}
.txt-box{
	overflow:hidden;
	border-left:3px solid #e8525f;
	margin:10px 0 20px;
	padding-left:7px;
}
.txt-box .ttl{
	text-transform:uppercase;
	color:#686a71;
	font: 30px/25px "RobotoRegular",sans-serif;
	margin:0 0 5px;
}
.txt-box p{
	margin:12px 0 0;
	color:#000000;
	font: 12px/16px "RobotoRegular",sans-serif;
}
.top-produkt ul li.btn-more-li{
	box-shadow:none;
	text-align:center;
}
.top-produkt ul li .btn-more{
	background:url(../images/ico-16.png) no-repeat 0 0;
	padding-top:105px;
	text-align:center;
	width:101px;
	height:105px;
	display:inline-block;
	font: 34px/36px Arial, Helvetica, sans-serif;
	color:#aeaeae;
	margin-top:70px;
}
.paginations{
	margin:20px 0;
	padding:0;
	list-style:none;
	overflow:hidden;
	text-align:center;
	font: 14px/17px "RobotoRegular",sans-serif;
}
.paginations li{
	display:inline-block;
	vertical-align:top;
	color:#686a71;
	margin:0;
}
.paginations li a{
	display:inline-block;
	padding:0px 4px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#686a71;
}
.paginations li a:hover{
	text-decoration:none;
	color:#e8525f;
}
.paginations li.active a{
	background:#e8525f;
	color:#fff;
}

/*аксессуары*/
.tovat-holder .tovat-holder-in{
	overflow:hidden;
	margin-top: 12px;
}
.tovat-holder .tovat-holder-in .main-desc{
	float:left;
	width:700px;
	padding-right:21px;
	overflow:hidden;
	background:url(../images/line-01.png) no-repeat 100% 0;
	margin-bottom:60px;
}
.tovat-holder .tovat-holder-in .main-desc .top-inf-holder{
	overflow:hidden;
	margin-bottom:20px;
}
.tovat-holder .tovat-holder-in .main-desc .gallery{
	float:left;
	width:300px;
	margin-right:20px;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf{
	overflow:hidden;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .ttl{
	color:#000000;
	font: 20px/21px "RobotoRegular",sans-serif;
	margin:0 0 10px;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf p{
	margin:0 0 5px;
	color:#686a71;
	font: 12px/16px "RobotoRegular",sans-serif;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .txt-height{
	height: 235px;
	overflow:hidden;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .txt-height .txt-height-scroll{
	height: 152px;
	overflow:hidden;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .price-box{
	overflow:hidden;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .price-box .price-txt{
	float:left;
	color:#686a71;
	font: 26px/36px "RobotoRegular",sans-serif;
	margin-top: 24px;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .price-box .btn-hold{
	float:right;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .price-box .btn-hold .dop-inf{
	color:#686a71;
	font: 12px/16px "RobotoRegular",sans-serif;
	padding-left:12px;
	float:right;
	margin-bottom: 5px;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .price-box .btn-hold .dop-inf.no{
	background:url(../images/ico-17.png) no-repeat 0 5px;
}
.tovat-holder .tovat-holder-in .main-desc .text-inf .price-box .btn-hold  .btn-01{
	clear:both;
	float:right;
}
.btn-01{
	display:inline-block;
	color:#e8525f;
	border:2px solid #e8525f;
	font: 25px/24px "RobotoRegular",sans-serif;
	padding: 11px 12px 10px 46px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#fff url(../images/ico-18.png) no-repeat 13px 12px;
	background-position:13px 12px;
	text-transform:uppercase;
}
.btn-01:hover{
	text-decoration:none;
	background:#e8525f url(../images/ico-18.png) no-repeat 13px -7px;
	color:#fff;
}
.tovat-holder .tovat-holder-in .add-prod{
	overflow:hidden;
	padding-left:20px;
}
.tovat-holder .tovat-holder-in .add-prod ul{
	margin:0;
	padding:0;
	list-style:none;
}
.tovat-holder .tovat-holder-in .add-prod ul li{
	overflow:hidden;
	position:relative;
	padding-bottom: 13px;
	margin-bottom: 14px;
}
.tovat-holder .tovat-holder-in .add-prod ul li:after{
	content:'';
	position:absolute;
	left:18px;
	right:18px;
	bottom:0;
	height:1px;
	background:#e8e8e8;
}
.tovat-holder .tovat-holder-in .add-prod ul li .img{
	float:left;
	border:1px solid #dfdfdf;
	margin-right:8px;
}
.tovat-holder .tovat-holder-in .add-prod ul li .img img{
	vertical-align:top;
}
.tovat-holder .tovat-holder-in .add-prod ul li .txt{
	overflow:hidden;
}
.tovat-holder .tovat-holder-in .add-prod ul li .txt .name{
	float:left;
	width:90px;
}
.tovat-holder .tovat-holder-in .add-prod ul li .txt .name strong{
	color:#686a71;
	font: 12px/14px "RobotoRegular",sans-serif;
	display:block;
	margin-bottom:3px;
}
.tovat-holder .tovat-holder-in .add-prod ul li .txt .name span{
	display:block;
	color:#e8525f;
	font: 12px/16px "RobotoRegular",sans-serif;
}
.tovat-holder .tovat-holder-in .add-prod ul li .txt .btn-add{
	float:right;
}
.btn-add{
	display:inline-block;
	width:26px;
	height:26px;
	background:url(../images/ico-19.png) no-repeat 0 0;
}
.btn-add:hover{
	background:url(../images/ico-19.png) no-repeat 0 -26px;
}
.downloads-link{
	background:#f0f0f0;
	padding: 10px 10px 16px;
	overflow:hidden;
	margin-bottom:35px;
}
.downloads-link ul{
	margin: 0 -42px 0 0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.downloads-link ul li{
	float:left;
	width:145px;
	margin-right:30px;
	margin-bottom:30px;
}
.downloads-link ul li a{
	display:block;
	padding-left:37px;
	min-height: 35px;
	background:url(../images/ico-20.png) no-repeat 0 0;
}
.downloads-link ul li a strong{
	color:#686a71;
	font: 10px/13px "RobotoRegular",sans-serif;
	display:block;
}
.downloads-link ul li a span{
	display:block;
	color:#e8525f;
	font: 9px/11px "RobotoRegular",sans-serif;
}
.tovat-holder .tovat-holder-in .table-inf{
	overflow:hidden;
	margin-bottom:30px;
}
.tovat-holder .tovat-holder-in .table-inf ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	border:1px solid #dddddd;
	color:#62696d;
	font: 10px/16px "RobotoRegular",sans-serif;
	position:relative;
}
.tovat-holder .tovat-holder-in .table-inf ul li{
	overflow:hidden;
	border-top:1px solid #dddddd;
}
.tovat-holder .tovat-holder-in .table-inf ul li:nth-child(2n+1){
    background: #f9f9f9;
}
.tovat-holder .tovat-holder-in .table-inf ul li .left{
	float:left;
	padding:7px 5px;
	width:265px;
	margin-right:10px;
}
.tovat-holder .tovat-holder-in .table-inf ul li .right{
	overflow:hidden;
	padding:5px;
	position:relative;
}
.tovat-holder .tovat-holder-in .table-inf ul:after{
	content:'';
	position:absolute;
	left:273px;
	top:0;
	bottom:0;
	background:#dddddd;
	width:1px;
}
.tovat-holder .tovat-holder-in .table-inf ul li:first-child{
	border-top:none;
}
.tovat-holder .tovat-holder-in .main-desc .gallery .carousel-big{
	width:300px;
	height:228px;
	border:1px solid #e8e8e8;
	text-align:center;
	margin-bottom:17px;
}
.tovat-holder .tovat-holder-in .main-desc .gallery .carousel-big img{
	vertical-align:top;
}
.tovat-holder .tovat-holder-in .main-desc .gallery .carousel-smoll{
	width:310px;
}
.tovat-holder .tovat-holder-in .main-desc .gallery .carousel-smoll .item{
	border:1px solid #e8e8e8;
	width:65px;
	height:60px;
	cursor:pointer;
}
.tovat-holder .tovat-holder-in .main-desc .gallery .carousel-smoll .owl-item.synced .item{
	border:1px solid #e8525f;
}
.tovat-holder .tovat-holder-in .main-desc .gallery .carousel-smoll .item img{
	vertical-align:top;
}





/*статьи*/

.right-hold .statii-list{
	overflow:hidden;
	margin-bottom:40px;
}
.right-hold .statii-list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.right-hold .statii-list ul li{
	overflow:hidden;
	margin-bottom:38px;
}
.right-hold .statii-list ul li a{
	display:block;
}
.right-hold .statii-list ul li a:hover{
	text-decoration:none;
}
.right-hold .statii-list ul li a:hover p{
	color:#000 !important;
}
.right-hold .statii-list ul li a .img{
	float:left;
	width:160px;
	margin-right:24px;
}
.right-hold .statii-list ul li a .img img{
	vertical-align:top;
}
.right-hold .statii-list ul li a .txt{
	overflow:hidden;
}
.right-hold .statii-list ul li a .txt .ttl{
	color:#000;
	font: 18px/20px "RobotoRegular",sans-serif;
	margin:0 0 2px;
}
.right-hold .statii-list ul li a .txt .date{
	color:#e8525f;
	font: 12px/16px "RobotoRegular",sans-serif;
	margin-bottom:10px;
}
.right-hold .statii-list ul li a .txt p{
	margin:0;
	color:#686a71;
	font: 14px/18px "RobotoRegular",sans-serif;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*контент*/
.content-holder{
	overflow:hidden;
}
.content-holder .ttl{
	color:#000;
	font: 30px/34px "RobotoRegular",sans-serif;
	margin:0 0 12px;
	padding-bottom:8px;
	background:url(../images/line-02.jpg) no-repeat 0 100%;
}
.content-holder .top-img{
	margin-bottom:15px;
}
.content-holder .top-img img{
	vertical-align:top;
}
.content-holder p{
	margin:0 0 16px;
}
.slicknav_menu{
	display:none;
}

























/*footer*/
/*media*/
@media only screen and (max-width:1032px){
	.container-in{
		padding: 0 10px 0 10px;
	}
	.produkt-holder ul{
		margin:0 -5% 0 0;
	}
	.produkt-holder ul li{
		width:28%;
		margin-right:5%;
		height:auto;
	}
	.produkt-holder ul li a img{
		vertical-align:top;
		width:100%;
	}
	.produkt-holder ul li a span{
		font: 16px/24px "RobotoRegular",sans-serif;
	}
	.top-produkt ul{
		margin:0 -2% 0 0;
	}
	.top-produkt ul li{
		height:auto;
		width: 31%;
		margin-right:2%;
	}
	.top-produkt ul li img{
		vertical-align:top;
		width:100%;
	}
	.bottom-inf-main .about{
		margin-right: 2%;
		width: 60%;
	}
	.tovat-holder .tovat-holder-in .main-desc{
		width:75%;
		margin-right:1%;
		padding-right:1%;
	}
	.tovat-holder .tovat-holder-in .add-prod{
		padding-left:1%;
	}
	.tovat-holder .tovat-holder-in .add-prod ul li .txt .name{
		width: 80px;
	}
	.tovat-holder .tovat-holder-in .downloads-link ul{
		margin: 0 -3% 0 0;
	}
	.tovat-holder .tovat-holder-in .downloads-link ul li{
		margin-right:3%;
		width:20%;
	}
	.main-hold .baner{
		height:auto;
	}
	.main-hold .baner img{
		width:100%;
	}
	.holder-sidebar .right-hold .produkt-holder ul li{
		margin-right:5%;
		width:28%;
		height:auto;
	}
	.main-hold .baner-02{
		height:auto;
	}
	.main-hold .baner-02 img{
		width:100%;
	}
	.holder-sidebar .right-hold .top-produkt ul li{
		margin-right:2%;
	}
	.holder-sidebar .right-hold{
		padding-left:14px;
	}
	.top-produkt ul li:nth-child(5){
		clear:none;
	}
	.top-produkt ul li.hover:hover{
		margin-bottom:0px;
		padding-bottom:0px ;
		position:relative;
		z-index:99;
		background:#fff;
	}
	.top-produkt ul li:hover .desc{

	}
}
@media only screen and (max-width:960px){
	#footer{
		padding: 15px 0;
	}
	#footer .menu-footer{
		float:right;
		margin-left:0;
	}
	#footer .dev{
		display:none;
	}
	.holder-sidebar .right-hold .top-produkt ul li{
		width: 47%;
	}
	.top-produkt.top-produkt-more ul li:nth-child(4){
		clear:none;
	}
	.top-produkt.top-produkt-more ul li:nth-child(7){
		clear:none;
	}
	.top-produkt.top-produkt-more ul li:nth-child(10){
		clear:none;
	}
}
@media only screen and (max-width:860px){
	.main-hold .top-inf .right-inf .slogan{
		display:none;
	}
	.produkt-holder ul li{
		margin-bottom: 30px;
	}
	.bottom-inf-main .about{
		float:none;
		margin-right:0;
		width:auto;
		margin-bottom:15px;
	}
	.tovat-holder .tovat-holder-in .main-desc{
		padding-right:0;
		margin-right:0;
		width:auto;
		background:none;
		margin-bottom: 10px;
	}
	.tovat-holder .tovat-holder-in .add-prod ul li .txt .btn-add{
		margin-right: 15px;
		margin-top: 8px;
	}
	.tovat-holder .tovat-holder-in .add-prod ul li .txt .name{
		width:70%;
	}
}
@media only screen and (max-width:780px){
	#footer .logo-holder{
		float:none;
	}
	.holder-sidebar .right-hold .produkt-holder ul li{
		width: 44%;
	}
}
@media only screen and (max-width:768px){
	.top-produkt ul li .bottom-inf div .price{
		font: 15px/24px "RobotoRegular",sans-serif;
	}
	.top-produkt ul li .bottom-inf span{
		font: 12px/18px "RobotoRegular",sans-serif;
	}
}
@media only screen and (max-width:680px){
	.tovat-holder .tovat-holder-in .downloads-link ul li{
		width: 46%;
		margin-bottom:15px;
	}
	.tovat-holder .tovat-holder-in .table-inf ul li .left{
		width: 40%;
	}
	.tovat-holder .tovat-holder-in .table-inf ul::after{
		left:40%;
	}
}
@media only screen and (max-width:640px){
	.top-produkt ul li {
	    height: auto;
	    width: 48%;
	}
}
@media only screen and (max-width:600px){
	#footer{
		position:static;
	}
	.main-hold .container{
		padding-bottom:10px;
	}
	.slicknav_menu{
		display:block;
	}
	#header .main-menu{
		display:none;
	}
	.top-inf .logo{
		position:absolute;
		left:10px;
		top:5px;
		 background-size: cover;

		width:220px;
		height:35px;
	}
	.main-hold .top-inf .right-inf{
		float:none;
	}
	.main-hold .top-inf .right-inf .tel-holder{
		float:left;
		margin-left:0;
	}
	.overlay .main-hold{
		position:static;
	}
	.overlay .main-hold::after{
		display:none;
	}
	#header .right-hold .reg-aft-form{
		width: 290px;
		padding: 16px 15px 30px;
	}
	.search-box.active .drop-s{
		width: 140px;
	}
	.produkt-holder ul li{
		width:45%;
	}
	.ttl-01{
		font: 21px/24px "RobotoRegular",sans-serif;
		margin: 0 0 10px;
	}
	.ttl-01:after{
		top: 3px;
		height: 18px;
	}
	#footer .logo-holder{
		text-align:center;
	}
	#footer .logo-holder .logo{
		display:block;
		float:none;
		margin:0 auto 10px;
	}
	#footer .soc-icon{
		margin-left:0;
		float:none;
		text-align:center;
		overflow:hidden;
	}
	#footer .soc-icon ul{
		overflow:hidden;
		text-align:center;
	}
	#footer .soc-icon ul li{
		display:inline-block;
		float:none;
		vertical-align:top;
	}
	#footer .menu-footer{
		float:none;
		overflow:hidden;
	}
	#footer .menu-footer ul{
		overflow:hidden;
		text-align:center;
	}
	#footer .menu-footer ul li{
		float:none;
		margin-bottom:10px;
		margin-right:0;
	}
	#footer .menu-footer ul li a{
		border-left:none;
	}
	.tovat-holder .tovat-holder-in .main-desc .gallery{
		float:none;
		width:310px;
		margin-right:0;
		margin:0 auto 10px;
	}
	.tovat-holder .tovat-holder-in .main-desc .text-inf .txt-height{
		height:auto;
	}
	.holder-sidebar .sidebar{
		float:none;
		width:auto;
		margin-bottom:15px;
		margin-right:0;
	}
	.holder-sidebar .right-hold{
		padding-left:0;
		overflow:visible;
	}
}
@media only screen and (max-width:480px){
	.produkt-holder ul li a span {
	 	font: 13px/24px "RobotoRegular",sans-serif;
	}
	.produkt-holder ul{
		margin:0;
	}
	.produkt-holder ul li{
		width:100%;
		margin-right:0;
	}
	.top-produkt ul{margin:0;}
	.top-produkt ul li {
	    height: auto;
	    width: 100%;
		margin-right:0;
	}
	.bottom-inf-main .about .box .img{
		float:none;
		margin-bottom:10px;
		margin-right:0;
		text-align:center;
	}
	.bottom-inf-main .about .box{
		padding: 15px 10px 25px;
	}
	.produkt-holder {
		margin-bottom: 5px;
	}
	.top-produkt {
		margin-bottom: 5px;
	}
	#header .right-hold .reg-aft-form{
		width:auto;
	}
	.holder-sidebar .right-hold .produkt-holder ul li{
		width:100%;
		margin-right:0;
	}
	.content-holder .top-img img{
		width:100%;
	}
	.content-holder .ttl{
		font: 25px/34px "RobotoRegular",sans-serif;
	}
	.holder-sidebar .right-hold .top-produkt ul li{
		width:100%;
		margin-right:0;
	}
	.top-produkt ul li.btn-more-li{
		display:none;
	}
	.right-hold .statii-list ul li a .img{
		float:none;
		margin-right:0;
		margin-bottom:10px;
		width:auto;
	}
	.right-hold .statii-list ul li a .img img{
		width:100%;
	}
}






@media screen\0 {
	.top-produkt ul li{
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
	}
}
#column-left{
	width:25%;
	float:left;
}

.like_table{
	display:table;
	width:100%;
	height:100%;
}
.table_cell{
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align: top;
}

.checkbox-inline > .styledCheckbox{
  float: left;
  margin-right: 8px;
}

.radio-inline, .checkbox-inline{
  padding-left: 0;
  margin-top: 10px;
}
.checkbox-inline.search {
    margin: 10px 0 10px 20px !important;
    line-height: 22px;

}

.mfilter-visible .styledCheckbox {
	cursor: pointer;
}

.mfilter-disabled {
	opacity: 0.5;
}