<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-bank-transfer" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
            </div>
            <div class="panel-body">
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-bank-transfer" class="form-horizontal">
                    <div id="tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-general" data-toggle="tab"><i class="fa fa-cogs"></i> <?php echo $tab_general; ?> </a></li>
                            <li><a href="#tab-details" data-toggle="tab"><i class="fa fa-list-alt"></i> <?php echo $tab_details; ?></a> </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-general">

                                <?php foreach ($languages as $language) { ?>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-bank<?php echo $language['language_id']; ?>"><?php echo $entry_bank; ?></label>
                                        <div class="col-sm-10">
                                            <div class="input-group"><span class="input-group-addon"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /></span>
                                                <textarea name="cashless_bank<?php echo $language['language_id']; ?>" cols="80" rows="10" placeholder="<?php echo $entry_bank; ?>" id="input-bank<?php echo $language['language_id']; ?>" class="form-control"><?php echo isset(${'cashless_bank' . $language['language_id']}) ? ${'cashless_bank' . $language['language_id']} : ''; ?></textarea>
                                            </div>
                                            <?php if (${'error_bank' . $language['language_id']}) { ?>
                                                <div class="text-danger"><?php echo ${'error_bank' . $language['language_id']}; ?></div>
                                            <?php } ?>
                                        </div>
                                    </div>
                                <?php } ?>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $entry_total; ?></span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_total" value="<?php echo $cashless_total; ?>" placeholder="<?php echo $entry_total; ?>" id="input-total" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-order-status"><?php echo $entry_order_status; ?></label>
                                    <div class="col-sm-10">
                                        <select name="cashless_order_status_id" id="input-order-status" class="form-control">
                                            <?php foreach ($order_statuses as $order_status) { ?>
                                                <?php if ($order_status['order_status_id'] == $cashless_order_status_id) { ?>
                                                    <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                                                <?php } else { ?>
                                                    <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                                                <?php } ?>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-geo-zone"><?php echo $entry_geo_zone; ?></label>
                                    <div class="col-sm-10">
                                        <select name="cashless_geo_zone_id" id="input-geo-zone" class="form-control">
                                            <option value="0"><?php echo $text_all_zones; ?></option>
                                            <?php foreach ($geo_zones as $geo_zone) { ?>
                                                <?php if ($geo_zone['geo_zone_id'] == $cashless_geo_zone_id) { ?>
                                                    <option value="<?php echo $geo_zone['geo_zone_id']; ?>" selected="selected"><?php echo $geo_zone['name']; ?></option>
                                                <?php } else { ?>
                                                    <option value="<?php echo $geo_zone['geo_zone_id']; ?>"><?php echo $geo_zone['name']; ?></option>
                                                <?php } ?>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                                    <div class="col-sm-10">
                                        <select name="cashless_status" id="input-status" class="form-control">
                                            <?php if ($cashless_status) { ?>
                                                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                                <option value="0"><?php echo $text_disabled; ?></option>
                                            <?php } else { ?>
                                                <option value="1"><?php echo $text_enabled; ?></option>
                                                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-sort-order"><?php echo $entry_sort_order; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_sort_order" value="<?php echo $cashless_sort_order; ?>" placeholder="<?php echo $entry_sort_order; ?>" id="input-sort-order" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-details">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-beneficiary"><?php echo $entry_beneficiary; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_beneficiary" value="<?php echo $cashless_beneficiary; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-beneficiary" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-bin"><?php echo $entry_bin; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_bin" value="<?php echo $cashless_bin; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-bin" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-bankname"><?php echo $entry_bankname; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_bankname" value="<?php echo $cashless_bankname; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-bankname" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-bik"><?php echo $entry_bik; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_bik" value="<?php echo $cashless_bik; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-bik" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-iik"><?php echo $entry_iik; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_iik" value="<?php echo $cashless_iik; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-iik" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-kbe"><?php echo $entry_kbe; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_kbe" value="<?php echo $cashless_kbe; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-kbe" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-knp"><?php echo $entry_knp; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_knp" value="<?php echo $cashless_knp; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-knp" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-address"><?php echo $entry_address; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_address" value="<?php echo $cashless_address; ?>" placeholder="<?php echo $help_data_input; ?>" id="input-address" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-contact"><?php echo $entry_contact; ?></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="cashless_contact" value="<?php echo $cashless_contact ?>" placeholder="<?php echo $help_data_input; ?>" id="input-contact" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php echo $footer; ?>