<span style='color: #000' title='Frames'>   221</span><span style='color: #009' title='Memory'>  12800.00 KB</span><span style='color: #900' title='Time'>    762.04 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />