<div class="right-inf">
          <div class="card" id="cart">
            <i class="ico-card add" id="cart_count"><span><?php echo $text_items; ?></span></i>
            <div class="cut-drop">
              <div class="ttl">МІЙ КОШИК</div>
              <?php if ($products) { 
//print_r($products);
              ?>
              <ul id="cart_ul">
              <?php foreach($products as $product){ ?>
                <li>
                  
                    <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
                    <div class="price"><?php echo $product['total']; ?></div>
                    <span class="close" onclick="cart.remove('<?php echo $product['cart_id']; ?>');"></span>
                  
                </li>
                <?php } ?>
              </ul>
              
              <?php //foreach ($totals[0] as $total) { ?>
              <div class="all-price">
                Всього   <?php echo $totals[0]['text']; ?>
              </div>
              <?php //} ?>
              <div class="btn-all-cut">
                <a href="<?php echo $cart; ?>">Переглянути кошик</a>
              </div>
              <?php } 
                else{
?>
<ul id="cart_ul">
  <li>
      <div class="name"><?php echo $text_empty; ?></div>
    </li>
</ul>
<div class="all-price hide">
                Всього   <?php //echo $totals[0]['text']; ?>
              </div>
<div class="btn-all-cut hide">
                <a href="<?php echo $cart; ?>">Переглянути кошик</a>
              </div>
<?php
                }
              ?>
            </div>
          </div>