<div id="search" class="input-group" style="margin-bottom: 0;">

<fieldset><div class="search-hold">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="txt" />
  <span >
    
    <button type="button" class="btn-s"></button>

  </span>
</div>
</fieldset>  

</div>
            
              
                
                  
                  

                
              
            